Repository tuev/node-express-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:eslint:fix, git add --force, prettier --write

Update README.md
  README.md
Due: none

build: fix bug eslint
  package.json
  src/utils/applyMiddlewares.js
  test/utils/dataHook.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: add scalar + directive for graphql config
  .eslintrc
  .eslintrc.js
  README.md
  package.json
  src/directives/directive.graphql
  src/directives/email.directive.js
  src/directives/index.js
  src/index.js
  src/modules/SKU/SKU.resolver.js
  src/modules/SKU/sku.model.js
  src/modules/SKU/test/sku.test.js
  src/modules/User/user.graphql
  src/modules/graphql.resolver.js
  src/modules/index.js
  src/routers/graphql/graphQLRouter.js
  src/routers/graphql/graphql.resolver.js
  src/routers/graphql/graphql.typeDefs.js
  src/routers/graphql/index.js
  src/routers/index.js
  src/routers/rest/index.js
  src/scalars/Email.js
  src/scalars/index.js
  src/scalars/scalar.graphql
  webpack/webpack.config.js
  webpack/webpack.test.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: update eventRestAPI
  src/modules/Event/event.controller.js
  src/modules/Event/event.model.js
  src/modules/Event/event.restRouter.js
  src/modules/Event/index.js
  src/modules/Event/test/event.test.js
  src/routers/rest/index.js
Due: npm run lint:eslint:fix, git add --force

fix: fix bug event api
  src/modules/Event/event.controller.js
  src/modules/Event/event.model.js
  src/modules/Event/event.restRouter.js
  src/modules/Event/test/event.test.js
  yarn.lock
Due: npm run lint:eslint:fix, git add --force

feat: config cors for app
  src/middlewares/index.js
Due: npm run lint:eslint:fix, git add --force

feat: update event API
  src/modules/Event/event.controller.js
  src/modules/Event/test/event.test.js
  test/fixtures/event/event.fixture.js
Due: npm run lint:eslint:fix, git add --force

feat: update api update eventy
  src/modules/Event/event.controller.js
Due: npm run lint:eslint:fix, git add --force

feat: update unit test
  src/modules/Event/event.controller.js
  src/modules/Event/test/event.test.js
Due: npm run lint:eslint:fix, git add --force

fix: add image url in event model
  src/modules/Event/event.controller.js
  src/modules/Event/event.model.js
  src/modules/Event/test/event.test.js
  test/fixtures/event/event.fixture.js
Due: npm run lint:eslint:fix, git add --force

feat: add restify express mongoose
  package.json
  src/middlewares/index.js
  src/modules/Event/event.controller.js
  src/modules/Event/event.restRouter.js
  src/modules/Event/mockImageUrl.js
  src/routers/rest/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: add restify express
  src/modules/Event/test/event.test.js
Due: npm run lint:eslint:fix, git add --force

feat: config heroku
  .travis.yml
Due: none

feat: add morgan logger
  package.json
  src/middlewares/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

feat: config travis
  .travis.yml
Due: none

feat: update yarn lock
  yarn.lock
Due: none

feat: add banner info into event data
  src/modules/Event/event.controller.js
  src/modules/Event/event.model.js
  src/modules/Event/event.restRouter.js
  src/modules/Event/mockImageUrl.js
  src/routers/rest/index.js
Due: npm run lint:eslint:fix, git add --force

feat: add user api
  src/modules/User/index.js
  src/modules/User/test/user.test.js
  src/modules/User/user.controller.js
  src/modules/User/user.model.js
  src/modules/User/user.restRouter.js
  src/routers/rest/index.js
  test/fixtures/user/user.fixture.js
Due: npm run lint:eslint:fix, git add --force

feat: update _id of user record equal uid field
  src/modules/User/user.model.js
  src/routers/rest/index.js
Due: npm run lint:eslint:fix, git add --force

feat: add api oauth
  src/modules/User/test/oauth.test.js
  src/modules/User/test/user.test.js
  src/modules/User/user.controller.js
  src/modules/User/user.restRouter.js
  src/routers/rest/index.js
Due: npm run lint:eslint:fix, git add --force

feat: update property photoURL for user model
  src/modules/User/user.model.js
Due: npm run lint:eslint:fix, git add --force

feat: add middleware for event api
  src/index.js
  src/middlewares/requireAuthorization.js
  src/modules/Event/event.controller.js
  src/modules/Event/event.model.js
  src/modules/Event/test/event.test.js
  src/modules/User/user.controller.js
  src/modules/User/user.model.js
  src/modules/User/user.restRouter.js
  src/routers/rest/index.js
Due: npm run lint:eslint:fix, git add --force

fix: remove unique prop for display name
  src/modules/User/user.model.js
Due: npm run lint:eslint:fix, git add --force

[fix] fix event rest api
  src/middlewares/index.js
  src/modules/Event/event.model.js
  src/modules/Event/test/evt.test.js
  test/fixtures/event/event.fixture.js
Due: npm run lint:eslint:fix, git add --force

feat: update event rest api
  config/cloudImg.js
  package.json
  src/index.js
  src/middlewares/index.js
  src/middlewares/requireAuthorization.js
  src/modules/Event/event.controller.js
  src/modules/Event/event.model.js
  src/modules/Event/event.restRouter.js
  src/modules/Event/test/evt.test.js
  src/modules/Image/image.model.js
  src/modules/Image/index.js
  src/routers/rest/index.js
Due: npm run lint:eslint:fix, git add --force, prettier --write

fix: update yarn lock file
  yarn.lock
Due: none

fix: fix event create banner
  src/modules/Event/event.controller.js
  src/modules/Image/image.model.js
  src/routers/rest/index.js
Due: npm run lint:eslint:fix, git add --force

fix: fix authorization request
  src/middlewares/requireAuthorization.js
  src/middlewares/requireExtractQuery.js
  src/modules/Event/event.controller.js
  src/modules/Event/event.restRouter.js
  src/modules/Event/test/event.test.js
  src/modules/Event/test/evt.test.js
  src/routers/rest/index.js
  src/utils/index.js
  test/fixtures/event/event.fixture.js
Due: npm run lint:eslint:fix, git add --force

fix: fix event authorization
  src/middlewares/requireExtractQuery.js
  src/modules/User/user.controller.js
  src/modules/User/user.model.js
  src/routers/rest/index.js
Due: npm run lint:eslint:fix, git add --force

Path conditions:
  npm run lint:eslint:fix: any of: *.js
  git add --force: (any of: *.js) or (any of: *.json)
  prettier --write: any of: *.json
